#head {
border-bottom: 0px double black;
}
#left {
float: left;
width:20%;
min-height: 30em;
}
#center {
float: left;
width:35%;
min-height: 30em;
border-left: 0px double gray;
}
}
#right {
float: left;
width: 45%;
min-height: 30em;
border-left: 0px double gray;
}
#footer {
clear: both;
text-align: center;
border-top: 0px double gray;
}