name: Deploy to Firebase Hosting

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Node
        uses: actions/setup-node@v4
        with:
          node-version: "22"

      - name: Install Firebase CLI
        run: npm install -g firebase-tools

      - name: Set up Service Account Credentials
        run: echo "${{ secrets.GOOGLE_APPLICATION_CREDENTIALS_JSON }}" > ${HOME}/gcloud-key.json

      - name: Firebase Deploy
        env:
          GOOGLE_APPLICATION_CREDENTIALS: $HOME/gcloud-key.json
        run: |
          firebase deploy --only hosting
          